.contenedor-principal {
    display: flex;
    background-color: lightcyan;
}

.contenido {
    background-color: lightsalmon;
    width: 80%;
}

header {
    background-color: lightyellow;
    height: 200px;
}

section {
    background-color: lightpink;
    height: 400px;
}

footer {
    background-color: lightgreen;
    height: 200px;
}

aside {
    background-color: lightskyblue;
    width: 20%;
}